.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  background-color: #3a3f44;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #ce6d1e;
}

p {
  font-size: 2rem;
  color: #b35619;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.refresh {
  color: #911111;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0% auto;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  margin-left: 40%;
  margin-right: 40%;
}
